.app-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .app-page-layout {
    height: 100vh;
  }
  .app-logo {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 8px;
    background: url('../assets/img/logo.svg') no-repeat center;
    background-size: contain;
  }
  .app-body-content {
    width: 100%;
    max-height: calc(100vh - 104px);
    overflow-y: auto;
    padding: 8px;
    border-top: 1px solid #e3e3e3;
  }
  .nav-text {
    margin: 0 8px;
  }
}