// common 通用

.flex {
  display: flex;
}

// color
.default-color {
  color: $default-color;
}

.warn-color {
  color: $warn-color;
}

.error-color {
  color: $error-color;
}

.success-color {
  color: $success-color;
}

.disabled-color {
  color: $disabled-color;
}

.default-bg {
  background-color: $default-color;
  color: #fff;
}

.warn-bg {
  background-color: $warn-color;
  color: #fff;
}

.error-bg {
  background-color: $error-color;
  color: #fff;
}

.success-bg {
  background-color: $success-color;
  color: #fff;
}

// 布局
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-float {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// 显隐
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.v-hide {
  visibility: hidden !important;
}

.v-show {
  visibility: visible;
}

.o-hide {
  opacity: 0;
}

.o-show {
  opacity: 1;
}

.show-opacity {
  opacity: 1 !important;
}

.hide-opacity {
  opacity: 0 !important;
}

.inline-div {
  display: inline-block !important;
}

// 距离， 大小
.mg-r-1 {
  margin-right: 8px;
}

.chart-box {
  height: 300px;
}

// 其他
.a-btn {
  padding: 8px 12px;
  border-radius: 5px;
}

.bold {
  font-weight: 600;
}

.icon-btn {
  cursor: pointer;
  &:hover {
    color: $default-color;
  }
}

.pointer {
  cursor: pointer;
}

/* no break */
.no-break {
  white-space: nowrap;
}

/* break */
.break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

// 个性化

// 提示框
.tooltips {
  position: absolute;
  max-width: 200px;
  height: auto;
  font-size: 14px;
  color: #fff;
  text-align: left;
  /* border: 1px solid #999; */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  /* box-shadow: 3px 3px 1px #999; */
  padding: 8px;
  /* display:none; */
  word-wrap: break-word;
  word-break: break-all;
  z-index: 4;
}

// 表单校验
.prop-name--required {
  position: relative;
  padding-left: 8px;
  &:after {
    content: ' *';
    position: absolute;
    left: 0;
    right: 0;
    color: $error-color;
  }
}
.error-border {
  border: 1px solid $error-color;
}

.btns-margin {
  button {
    margin: 0 8px;
  }
}

.action-links {
  a {
    font-size: 16px;
    margin-right: 12px;
  }
  a:last-child {
    margin-right: 0;
  }
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.red-dot {
  background-color: #ff5f56;
}
.yellow-dot {
  background-color: #ffbd2e;
}
.green-dot {
  background-color: #27c93f;
}
